@{
    ViewData["Title"] = "Password Reset";
}
@model PasswordResetViewModel

<header class="contactus">
    <section class="header-container contact-page-container">
        <div class="grid-wrapper">
            <div class="grid horizontal-center">
                <div class="col two-quarters below-lap-one-whole">
                    <div class="grid">
                        <div class="col">
                            <div class="contact-list">
                                <h1>Reset Your Password</h1>
                            </div>
                        </div>
                        <form asp-controller="Api" asp-action="ResetPassword">
                            <div class="col one-whole below-lap-one-whole">
                                <div class="content small-input">
                                    <div class="field-group">
                                        <label asp-for="@Model.NewPassword">New Password</label>
                                    </div>
                                    <input asp-for="@Model.NewPassword" type="password" class="text-area">
                                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col one-whole below-lap-one-whole">
                                <div class="content small-input">
                                    <div class="field-group">
                                        <label asp-for="@Model.ConfirmNewPassword">Confirm New Password</label>
                                    </div>
                                    <input asp-for="@Model.ConfirmNewPassword" type="password" class="text-area">
                                    <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col one-whole below-lap-one-whole align-right">
                                <div id="submit">
                                    <button class="content btn text-horizontal-center custom-btn" style="width:100%;" id="submit-button">
                                        Submit
                                    </button>
                                </div>
                                <div class="dialog-spinner hidden" id="spinner"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
